body{
background:#222;
color:white;
font-family:system-ui;
text-align:center;
margin:0;
}

.container{
width:90%;
margin:auto;
}

input{
width:100%;
height:40px;
margin:10px 0;
background:#111;
border:none;
color:white;
padding:5px;
}

button{
width:100%;
height:40px;
background:#8b3a3a;
border:none;
color:white;
margin:5px 0;
cursor:pointer;
}

.card{
background:#111;
padding:10px;
margin:10px;
display:inline-block;
width:220px;
border-radius:10px;
}

.card img{
width:100%;
height:150px;
object-fit:cover;
}

.login-body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-box{
width:350px;
}

.login-title{
font-size:40px;
margin-bottom:40px;
}

.login-btn{
height:55px;
font-size:18px;
}

.select-box{
width:100%;
height:40px;
margin:10px 0;
background:#111;
color:white;
border:none;
}
